
body
{
   margin:0;
   padding:0;
   background-color: #fff;
   position:absolute;
   top:0;
   left:0;
   right:0;
}

.header
{
 background-color:whitesmoke;
 height:90px; 
 //background-color: #fff;
    padding: 21px 0;
    position: fixed;
    z-index: 7;
    transition: .2s;
    width:100%;
}

  
  
  
  .dropdown-menu 
  {
    background-color: white;
    
  }
  .dropdown-menu a {
   
    color: black;
    font-weight:800;
    font-size:12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .nav-item:hover {display:block;border-bottom:3px solid orangered;}
  

.container1
{
  
    padding: 50px 0 129px;
    background-color: #fafafa;
    background-image: url(/assets/images/shop.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 100%;
}



.container1 img{
    position:relative;
    width:100%;

    
}
.container1 .top{
    background-color: rgba(0,0,0,.4);
    color: #fff;
    padding: 20px 30px 30px;
    font-family: Arial Black;
    font-size: 32px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}
.container1 h2
{
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #4a4a4a;
    max-width: 500px;
    margin: 0 auto 10px;
    background-image: url(/assets/images/txtbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 8px 40px;
}
.container1 h1{
    font-family: Arial Black;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    text-shadow: 0 0 5px 
}


.container1 h3{
    position: absolute;
    align-content:center;
    color:white;
    font-size:38px;
    bottom: 150px;    
    left:auto;  
}

.container1 a{
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid #ea5333;
    background-color: transparent;
    color: #FFFF;
    border-radius: 4px;
    background: #ea5333;
    margin-right: 20px;
    margin-top: 15px;
    display: inline-block;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
    text-decoration:none;
}
.div3 .line
{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}


.div3 .content1
{
    color: #4a4a4a;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    margin:10px;
}
.vid
{   
    
}

.vid .vid1
{
    width: 50%;
    margin: 0 auto; 
   width: 400px;
   height:300px;
}


.div4 .line
{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}


.div4 .content
{
    text-align:center;
    color: #4a4a4a;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin: 10px 0 40px;
}
.backimg
{
    background-image: url(/assets/images/How_we_work_BG.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.map
{
    padding: 50px 0;
    background-color: #fafafa;
    background-image: url(/assets/images/map.png);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}



.div5
{   
    max-width: 100%;
    margin: 0 auto ;
}
.div5 .div51 
{
    text-align: center;
    max-width: 100%;
}
.div5 .div51 div
{ 
    display:inline-block;   
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 hsla(0,0%,65%,.5);
    max-width: 300px;
    min-height: 410px;
    position: relative;
}
.div5 .learn
{
    color: #f15a28;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.25px;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    bottom: 25px;    
}
.div5 .cycle
{
    position:relative;
    box-shadow: 0 2px 16px 0 hsla(0,0%,81%,.5);
    background-color: #fff;
    border-radius: 4px;    
    padding: 30px;
    max-width: 300px;    
} 

.div5 img
{
    height: 80px;
    width: auto;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
}

.div5 .plane img
{
    margin-bottom: 20px;
    max-width: 100%;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
}

.div5 .truck
{
    position:relative;
    box-shadow: 0 2px 16px 0 hsla(0,0%,81%,.5);
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
    max-width: 300px;  
}


.div5 .plane
{
    position:relative;
    box-shadow: 0 2px 16px 0 hsla(0,0%,81%,.5);
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
    max-width: 300px;     
}


.div5 .cycle:hover
{
    transform: scale(1.08);
}

.div5 .plane:hover
{
    transform: scale(1.08);
}

.div5 .truck:hover
{
    transform: scale(1.08);
}



.plane .line
{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}


.cycle .line
{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}


.truck .line
{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}
.div5 p{
    color: #4a4a4a;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 40px;
}
.div6 p{
    text-align:center;
    font-weight:800;
    font-size:33px;
    display:block;
}

.div6 .line{
    width: 80px;
    height: 4px;
    text-align:center;
    background-color: #ee5935;
    margin: 20px auto;
}


.seprater {
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}

.yo{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
}



.div7 p
{
    color: #777;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    //margin: 0 0 40px;
    font-weight: 500;
}

.div8 
{
    margin:auto 150px;
    
}
.div8 p
{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.div81 img
{
    width: 100%;
    height:auto;
}

.div9
{
    display:block;
    padding: 70px 0;
    background-image: url(/assets/images/back.png);
    background-color: #cccccc;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.div9{
    max-width: 100%;
    margin: 0 auto;
}

.div9 .div91 div
{
    display: inline-block;
    width: 20%;
    text-align: center;
    position: relative;
}

.div91 h5
{
    color: black;    
    font-size: 30px;
    line-height: 12px;
}

.div9 p
{
    font-weight: 600;
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #4a4a4a
}

.div10
{
    padding: 50px 0 129px;
    background-color: #fafafa;
    background-image: url(/assets/images/Award.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.div10 .div1{
    max-width: 940px;
    margin: 0 auto;
}

.div10 .div1 .awards{
   text-align:center;
    max-width: 100%;
}

.awards p{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}

.div10 .div2 .div
{
    display:inline-block;
    
}
.div10 .div2
{
    margin-left:70px;
}










.div11
{
    max-width: 100%;
    margin: 0 auto ;
  
}


.div11 .div1 h1{
    text-align:center;
}


.div11 .div1 p{
    width: 80px;
    height: 4px;
    margin: 20px auto;
    background-color: #ee5935;
}

 .news
{

    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 hsla(0,0%,65%,.5);
    max-width: 300px;
    min-height: 410px;
    position: relative;
    
}


 .m-news .news
{
    display:inline-block; 
    position: relative; 
}

 .m-news .news img
{ 
    margin-bottom: 20px;
    max-width: 100%;
}   
 .m-news .news h4
{color: #9b9b9b;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 16px;
    margin: 0
}

 .m-news .news h2
{
    color: rgba(0,0,0,.87);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .25px;
    line-height: 24px;
    margin: 0;
    cursor: pointer;
}
 .m-news .line{
    width: 80px;
    height: 4px;
    background-color: #ee5935;
}
 .m-news
{
    text-align: center;
    max-width: 100%;
    
}

.m-news .button
{
    color: #f15a28;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.25px;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.footer
{
    background-color: #212121;
    padding: 50px;
    color: #fff;
}
.footer a{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

.layout
{
    max-width: 940px;
    margin: 0 auto;
}

.footer .top
{
margin-bottom: 40px;
}
.footer .top .logo img
{
max-width: 220px;
}

.social span
{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.footer .top .social img
{
width:10px;
max-width: 50px;
}
.social{
   float:right
}
.top div{
    display:inline;
}
.footerlink a
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.footermiddle .footerlink{
    display:inline-block;
    padding:35px;
 
}
.footerbottom
{
    position: relative;
    margin: 0 20px;
    font-size: 14px;
    text-align:center;
}