

<div >
  <button (click)="goback()" class="button"> Go to Channels</button>
</div>

   
<pagination-controls (pageChange)='p=$event'></pagination-controls>
   <div class="grid">
        <div *ngFor="let video of videos | paginate: {itemsPerPage:8,currentPage:p};">           
            <youtube-player videoId={{video.id.videoId}} height="230" width="230"></youtube-player>
            <!--<img style="width:200px;height:100px" [src]="video.snippet.thumbnails.medium.url" >                 
            <h6><a href="https://www.youtube.com/watch?v={{video.id.videoId}}"  target="_blank">{{video.snippet.title}}</a></h6>    
             -->          
        </div>
   </div>











