




<div class="header">
    <a href="#default" class="logo">Logo</a>
    <div class="header-right">
      <a  routerLink="/register" routerLinkActivate="activate">Register</a>
      <a  routerLink="/login" routerLinkActivate="activate">Login</a>
      <a  routerLink="/channels" routerLinkActivate="activate">Channels</a>
      <a href="#about">About</a>      
      <a href="#contactus" >Contact us</a>      
    </div>
  </div>
  
<router-outlet></router-outlet>



